.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  padding-right: 0;
}

.logo {
  cursor: pointer;

  h1 {
    position: relative;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: -10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #333333;
    }
  }
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
