.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 72px;
  height: 100%;
  width: 100%;
  padding: 10px 20px 0px 32px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.project {
  display: flex;
  align-items: center;
  gap: 15px;

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }

  .status {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
