.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 310px;
  background: #f2f5fa;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.options {
  display: flex;
  align-items: center;
  gap: 5px;

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
  }
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
